html, body, #root, .App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-header {
    height: 13vh;
    width: 100%;
    background-color: #1d76db;
    text-align: center;
}

.Main-header {
    height: 60%;
    display: flex;
    background-color: #fffdf9; 
    justify-content: space-between;
    padding: 16px;
}

.Logo {
    max-width: 250px;
    min-width: 250px;
}

.Logo img {
    max-width: 100%;    
    width: auto;
    height: auto;
    
}

.Search-bar input {
    padding: 8px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
}

.Search-bar {
    min-width: 250px;
    max-width: 325px;
    height: 20%;
    flex-basis: 20%;
    padding: 15px;
}

.Nav-bar {
    height: 30%;
    background-color: #1B4C8C;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.Nav-links, .Social-signing {
    justify-content: center;
    align-content: center;
}

.Nav-links a, .Social-signing a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.Nav-links a:hover{
    background-color: #4085ce;
    color: black;
}

.Content-area {
    margin-top: 20px;
    padding: 20px;
    width: auto;
    min-height: 500px;
}

.Permit-table {
    border-collapse: collapse;
}

.Permit-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
}

.Permit-table-buttons {
    padding: 10px;
}

.Permit-table-buttons button {
    margin: 10px;
    padding: 5px;
    width: 10%;
    font-size: 14px;
    background-color: #1B4C8C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}