.Footer-div {
    background-color: #b2b2b26a;
    padding: 5%;
    display: block;
    font-family: sans-serif;
}

.footer-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-title {
    font-weight: strong;
    display: block;
}

.footer-flex div {
    width: 33%;
}

.footer-flex div p {
    margin: 5px;
}
.footer-flex div p a {
    
    text-decoration: none;
}